@{
    ViewData["Title"] = "Đăng Nhập";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="login">
    <div class="wrap">
        <div class="col-md-3 offset-md-4">

            @using (Html.BeginForm("DangNhap", "User", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="login-title border rounded p-2">
                    <h4 class="title text-center font-weight-bold" style="font-size: 20px;">ĐĂNG NHẬP</h4>
                    <div class="comments-area">
                        <div class="form-group">
                            <label for="taikhoan" class="control-label">Tên đăng nhập <span class="text-danger">*</span></label>
                            <input type="text" name="taikhoan" class="form-control" placeholder="Nhập tên đăng nhập" required /> 
                        </div>
                        <div class="form-group">
                            <label for="matkhau" class="control-label">Mật khẩu <span class="text-danger">*</span></label>
                            <input type="password" name="matkhau" class="form-control" placeholder="Nhập mật khẩu" required /> 
                        </div>
                        <p id="login-form-remember" class="text-center">
                            <a href="@Url.Action("QuenMatKhau", "User")">Quên mật khẩu?</a>
                        </p>
                        <div class="text-center">
                            <input type="submit" value="Đăng nhập" class="btn btn-success btn-lg rounded-pill"> 
                        </div>
                    </div>
                </div>
            }

            <div class="clear mb-4"></div> 

            <h4 class="title text-center" style="font-size: 18px; margin-top: 30px;">BẠN CHƯA CÓ TÀI KHOẢN?</h4> 
            <div class="text-center mb-3">
                <a href="@Url.Action("DangKy", "User")">
                    Đăng ký ngay
                </a>
            </div>

        </div>
    </div>
</div>
