@{
    ViewData["Title"] = "GiayTheoThuongHieu";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@model X.PagedList.IPagedList<Sanpham>
<div id="productList">
    @await Html.PartialAsync("_GiayTheoThuongHieuPartial", Model)
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Xử lý AJAX cho phân trang
    $(document).on("click", ".pagination a", function (e) {
        e.preventDefault();
        var url = $(this).attr("href");

        $.get(url, function (data) {
            $("#productList").html(data);
        });
    });
</script>

