@model X.PagedList.IPagedList<Sanpham>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="List" style="padding-left: 50px; padding-right: 50px" id="product-container">
    @Html.Partial("_ProductListPartial", Model)
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // AJAX for pagination
    $(document).on("click", "#product-container .pagination a", function (e) {
        e.preventDefault();
        var url = $(this).attr("href");

        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                // Load the returned HTML into the product-container
                $("#product-container").html(data);
            },
            error: function () {
                alert("Failed to load products.");
            }
        });
    });
</script>
