@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model web1.Models.NhanVien

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<meta charset="utf-8">
<h4 style="text-align:center">Sửa Nhân Viên</h4>
<hr />
<div class="container">
    <form asp-action="Edit" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CusID" />
        <div class="form-group row">
            <div class="col-25">
                <label>Họ Tên:</label>
            </div>
            <div class="col-75">
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-25">
                <label>Tài Khoản:</label>
            </div>
            <div class="col-75">
                <input asp-for="TaiKhoan" class="form-control" />
                <span asp-validation-for="TaiKhoan" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-25">
                <label>Mật Khẩu:</label>
            </div>
            <div class="col-75">
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-25">
                <label>Email:</label>
            </div>
            <div class="col-75">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-25">
                <label>Giới Tính:</label>
            </div>
            <div class="col-75">
                <select asp-for="GioiTinh" class="form-control">
                    <option value="">--Chọn Giới Tính--</option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-25">
                <label class="control-label">Ảnh: </label>
            </div>
            <div class="col-75">
                <input type="file" asp-for="Img" class="form-control-file" id="customInput" onchange="previewImage(event)" />
                 <span asp-validation-for="Img" class="text-danger"></span>
                <img id="imagePreview" style="display: none; margin-top: 10px; max-width: 100%; height: auto;" />
            </div>
        </div>
        <div style="margin: 10px" class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a class="btn btn-primary" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
<script>
    function previewImage(event) {
        var file = event.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var preview = document.getElementById("imagePreview");
                preview.src = e.target.result;
                preview.style.display = "block";
            };
            reader.readAsDataURL(file);
        }
    }
</script>